* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pixelify Sans", sans-serif;
}

[v-cloak] {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #212121;
  color: white;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.container {
  width: 700px;
  min-height: 500px;
  background-color: #0d0d0d;
  border-radius: 10px;
  padding: 10px;
}

.title {
  padding: 10px;
}

.title > h1 {
}

.content {
  padding: 10px 30px;
  overflow-y: scroll;
  overflow-y: hidden;
}

.list {
  list-style-type: none;
}

.list > li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.input-box {
  padding: 10px;
  display: flex;
  align-items: center;
}

.input-box > input {
  padding: 10px;
  margin-right: 10px;
  flex-grow: 1;
  border-radius: 50px;
  border: none;
}

.input-box > button {
  padding: 10px;
  border-radius: 50px;
  width: 100px;
}

.done {
  text-decoration: line-through;
  color: #aaa;
}
