<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/7711c3f1fc.js"
      crossorigin="anonymous"
    ></script>
    <title>To do list VueJs</title>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="title">
          <h1>TO DO LIST</h1>
        </div>
        <div class="input-box">
          <input
            v-model="newTodoText"
            type="text"
            placeholder="Type a task here"
            @keyup.enter="addItem"
          />
          <button @click="addItem">Add Task</button>
        </div>
        <div class="content">
          <ul class="list">
            <li v-for="(item, index) in toDo" :key="index">
              <input type="checkbox" />
              <p>{{item.text}}</p>
              <i class="fas fa-xmark"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
